.mainDiv{
    width: 25%;
    margin: auto;
    margin-top: 10%;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text{
    margin: 5px 5px 5px 5px ;
}

.btn{
    margin-bottom: 5px;
    border-radius: 10px;
    color: white;
    background-color: rgb(219, 12, 12);
    border-style : none
}